<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<p>This is the header area!</p>
<%= render 'layouts/menu' %>
</div>
<div id="body">
<%= yield %>
</div>
<div id="footer">
<p>This is the footer area!</p>
</div>

</body>
</html>
